@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

.inverted-radius {
    --r: 25px; /* the radius */
    --s: 40px; /* the size of the corner*/
    min-width: 230px;
    width: 250px;
    aspect-ratio: 1;
    background: #00196d80;
    border-radius: var(--r);
    --_m:/calc(2*var(--r)) calc(2*var(--r))
      radial-gradient(#000 70%,#0000 72%) no-repeat;
    mask:
      calc(var(--s) + var(--r)) 0 var(--_m),
      0 calc(var(--s) + var(--r)) var(--_m),
      radial-gradient(var(--s) at 0 0,#0000 99%,#000 101%) 
       var(--r) var(--r) no-repeat,
      conic-gradient(at calc(var(--s) + 2*var(--r)) calc(var(--s) + 2*var(--r)),
       #000 75%,#0000 0);
  }